/*  css 继承方法
    @01 -----------.root  用法className = {style.root}
    @02 ----------global(.root) 全局   用法className = 'title'
    @03 ---------:local(.root) 局部 <==> .root
    @04 ---------composes:className;    一个选择器可以继承另一个选择器的规则 这称为"组合
    @05 ---------composes: another from './main.css';   继承其他CSS文件里面的规则
    */
.className {
  background: #1ABC9C;
}
.root{
  composes:className;/*一个选择器可以继承另一个选择器的规则 这称为"组合"*/
  padding: 10px;
  border: 3px solid #ccc;
  color: #fff;
}
:global(.root) {
  padding: 10px;
  border: 3px solid #ccc;
  color: #f00;
}
.another{
  composes: another from './main.css';/*继承其他CSS文件里面的规则*/
}